*{margin: 0;}



.header {
    background: #262626;
    text-align: left;
    font-size: 30px;
    /* font-weight: bold; */
    color: white;
    padding: 15px;
    font-family: sans-serif;
    height: 40px;
}

.problem{
    background: #9edad5;
    text-align: left;
    font-size: 20px;
    color: #205550;
    padding: 15px;
    font-family: sans-serif;
    height: 30px;
}

.dropdown{
    font-size:16px;
    height: 30px;
    width: 150px;
    background: #9edad5;
}

.control-panel {

    background: #262626;
    text-align: left;
    padding: 4px;
    font-family: sans-serif;
    height:800px;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { height: 500px; }

.button-container {
    text-align: center;
    padding: 4px;
}

.btn {
    background: #eb823d;
    color: white;
    padding: 8px;
    border: 0;
}

.output {
        padding: 4px;
        border: 2px solid gray;
        min-height: 100px;
        width: 99%;
        resize: none;

}
