{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="text-white">
    <br><br>
    <h1 class="mb-3">Coding Skill Assesment</h1>
    <h5 class="mb-4">
      Welcome the Code Assesment Web Portal
    </h5>
    {% if user.is_authenticated %}
    <h5 class="mb-4">
      Welcome {{user.first_name}}
    </h5>
    <a
    class="btn btn-outline-light btn-lg m-2"
    href="Accounts/logout"
    role="button"
    rel="nofollow"
    target="_blank"
    >Logout</a>
    {%else%}
    <a
      class="btn btn-outline-light btn-lg m-2"
      href="Accounts/register"
      role="button"
      rel="nofollow"
      target="_blank"
      >Register</a
    >
    <a
      class="btn btn-outline-light btn-lg m-2"
      href="Accounts/login"
      target="_blank"
      role="button"
      >Login</a
    >
    {% endif %}
    <a
    class="btn btn-outline-light btn-lg m-2"
    href="Quiz/quiz"
    target="_blank"
    role="button"
    >Quiz</a
  >
  </div>
</div>
<div class="container">
  <form action="enterIDE" method="POST" class=".form-control-sm">
    
    {%  csrf_token %}
    
      <div class="form-group ">
        <br><br>
          <!-- <label for="num1">First Name:</label> -->
          <input type="text" class="form-control" name="firstName" required placeholder="First Name">
        </div>
        <br>
        <div class="form-group">
          <!-- <label for="num2">Last Name:</label> -->
          <input type="text" class="form-control" name="lastName" required placeholder="Last Name">
        </div>
        <br><br>
        <div class="form-group">
          <!-- <button type="submit" class="btn btn-primary">Enter IDE</button> -->
          <button type="submit" class="btn btn-outline-light btn-lg m-2">Enter IDE</button>
          <br><br>
          <br><br>
        </div>
  </form>
</div>


{% endblock %}